{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_messages %}
{% load i18n  %}

{% block content %}
<h1>{{ title }}</h1>
<form action="{% url 'labels_create' %}" method="post">
  {% csrf_token %}
  {% bootstrap_button button_value button_type="submit" button_class="btn-primary" %}
</form>
    <table class="table table-stripped">
        <thead>
            <tr>
                <th>ID</th>
                <th>{% translate 'Имя' %}</th>
                <th>{% translate 'Дата создания' %}</th>    
                <th></th>
            </tr>
        </thead>
    {% for label in object_list %}
        <tbody>
            <tr>
                <td>{{ label.id }}</td>
                <td>{{ label.name }}</td>
                <td>{{ label.created_at|date:'d.m.Y H:i' }}</td>
                <td><a href="{% url 'labels_update' label.pk %}">Изменить</a> <a href="{% url 'labels_delete' label.pk %}">Удалить</a></td>
            </tr>
        </tbody>
    {% endfor %}
    </table>
{% endblock %}
